<form action="/landing/adminlogin" method="post">
<div class="container" id="login-card">
    <div class="root">
        <div class="section1">
            <img src="/images/logincard.png">
        </div>
        <div class="section2">
            <h2>Admin Login</h2>
            <div class="inputicons">
                <i class="fa fa-user-circle icon"></i>
                <input type="email" placeholder="Email" style="padding-left: 25px;width: 70%;" required name="aemail">
            </div>
            <div class="inputicons">
                <i class="fa fa-eye icon" id="eye"></i>
                <input type="password" placeholder="Password" style="padding-left: 25px;width: 70%;" id="password" required name="apassword">
            </div>
            <input type="submit" style="width: 70%;margin-top: 20px;">
        </div>
    </div>
</div>
</form>