<form action="/landing/userlogin" method="post">
    <div class="container" id="popup-card">
        <div class="root">
            <div class="section1">
                <img src="/images/logincard.png">
            </div>
            <div class="section2">
                <h2>SIGN IN</h2>
                <div class="inputicons">
                    <i class="fa fa-user-circle icon"></i>
                    <input type="email" placeholder="Email" style="padding-left: 25px;width: 70%;" required name="email">
                </div>
                <div class="inputicons">
                    <i class="fa fa-eye icon" id="eye"></i>
                    <input type="password" placeholder="Password" style="padding-left: 25px;width: 70%;" id="password" required name="password">
                </div>
                <div><input type="submit" style="width: 70%;margin-top: 20px;"></div>
                <a  id="login-btn" style="cursor: pointer;color: red;">Admin Login</a>
            </div>
        </div>
    </div>
</form>