.card1 {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    border-radius: 5px;
    height: 500px;
    background-color: white;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    padding: 10px;
}

.card1:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #55cdef40;
}
.card1 p{
    margin:0px;
    text-align:justify;
    width:100%;
    color: #2291af;
}
.card2 p{
    margin:0px;
    text-align:justify;
    width: 100%;
    color: #2291af;
}
.card2:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #55cdef40;
}

.card2 {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    height: 550px;
    background-color: white;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    padding: 10px;
}

.card2:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.heading{
    font-size: 25px;
    font-weight: bold;
    background: -webkit-linear-gradient(#2291af, #4bcef3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}