
  .root{
    display: block;
    flex-direction: row;
}
.subroot1{
    display: flex;
    flex-direction: column;
    background-color: white;
    width:300px;
    height: 100vh;
    text-align: center;
    position:fixed;
}
.subroot2{
    display: flex;
    flex-direction: column;
    float: right;
    align-items:center;
    background-color: white;
    width:75%;
    height:auto;
    text-align: center;
    margin: 20px 30px 20px 30px;
    box-shadow: 5px 0px 20px lightgray inset;
    border-radius: 5px;
    position: relative;
}
.anchor{
    padding: 20px 25px 20px 25px;
    background-color: #4bcef3;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    cursor:no-drop;
}
a:hover{
    background: #2291af;
}
.hide {
    display:none;
}
.section1{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width: 80%;
}
.section2{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    width: 80%;
}
input[type=text],[type=tel],[type=email],[type=password],[type=file],[type=date]{
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #4bcef3;
  }
  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #4bcef3;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #2291af;
  }
  input[type=submit],[type=button] {
    background-color:#4bcef3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    width: 20%;
    margin: 30px;
    float: right;
    font-size: 17px;
    cursor: pointer;
  }
  input[type=submit]:hover{
    background: #2291af;
  }
  select{
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #4bcef3;
}
label{
  color: #054658;
  font-weight: bold;
  margin-left: 12px;
}
.labeledfield{
  margin-right: 15px;
  display: flex;
  float: left;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  align-items: flex-start;
}